.annotation-area {
    
}

#event, #time {
    flex-basis: 10%;
}

#text {
    flex-basis: 60%;
}

#text div#save-btn {
    display: flex;
    flex-direction: row-reverse;
}

select {
    width: 125px;
}

select#SelectKids {
    width: 120px;
    height: 190px;
}
