/* Add vertical spacing between Bootstrap cols when stacked */
/* [class*="col-"]:not(:last-child) { */
/* [class*="col-"] {
    padding-top: 1em;
    padding-right: 1em;
} */

.form-row {
    margin-top: 1em;
}

.form-row:first-of-type {
    margin-top: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f7f9fc;
}